html,
body {
  font-family: 'Roboto Light', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Overpass', sans-serif;
}
.container-fluid {
  background-color: #F7BD36;
}
.logo-heading {
  padding: 20px 0 10px;
}
.nav a {
  color: black;
}
.container {
  max-width: 960px;
}
.inline-images {
  box-shadow: 15px 10px #386672;
}
.adventure {
  transform: rotate(-8deg);
}
.speedboat {
  transform: rotate(8deg);
}
.footer {
  color: black;
  background: #F7BD36;
  padding: 20px 0;
}
