html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
.container-fluid {
  background-color: white;
  border-bottom: 2px dashed silver;
}
.container-fluid .container .custom-row-1 {
  background: #F4CC70;
}
.container-fluid .container .custom-col-1 {
  color: darkred;
  font-weight: bold;
}
.container-fluid .container nav a:link {
  color: #400000;
}
.container-fluid .container:hover {
  font-weight: bold;
  color: darkred;
}
.logo-heading {
  padding: 20px 0 10px;
}
.nav a {
  color: black;
}
.container {
  max-width: 800px;
}
.my-active {
  background-color: #20948B !important;
  border-color: #DE7A22 !important;
}
.my-form-1 {
  border: 2px double darkred;
  padding: 16px;
  margin-top: 20px;
}
.my-form-1 .custom {
  margin-right: 0px;
}
.submit-1 {
  width: 87%;
}
.btn-primary {
  color: #fff;
  background-color: #20948B;
  border-color: #DE7A22;
  align-self: end;
}
.footer {
  color: black;
  background: blanchedalmond;
  padding: 20px 0;
}
.scrollspy-group {
  position: relative;
  height: 200px;
  margin-top: .5rem;
  overflow: auto;
}
