html, body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Indie Flower', cursive;
}

.container-fluid {
    background-color:white;
    border-bottom: 2px dashed silver;    
}

.logo-heading {
    color: @yellow;
    text-shadow: 2px 2px black;
    padding: 20px 0 10px;
}

.custom-link {
        color: @turquoise;
    }

.container {
    max-width: 800px;
}

.footer {
    color: black;
    background: @light-turquoise;
    padding: 20px 0;
}