.upper-content {
    .margin-temp;
}

.upper-middle{
    .margin-temp;
}

.middle{
    .margin-temp;
}

.lower-middle {
    .margin-temp;
}

.lowest-middle{
    margin:50px 0;
    
}

.bottom-content {
    .margin-temp;
}

.vac-selection {
    display: flex;
    justify-content: flex-start;

}