.header {
    background: @pink;
}

.nav-link {
    color: @turquoise;
}

.fun-bus {
    font-size: 3.2rem;
    color: @turquoise;
    text-shadow: 2px 2px black;
}

.fun-head-1 {
    background: @light-turquoise;
    padding: 10px;
}

.fun-head-2 {
    background: @dark-turquoise;
    padding: 10px;
}

.custom-head-1 {
    font-size: 1.8rem;
    padding-left: 0;
    text-shadow: 2px 2px black;
}

.custom-head-2 {
    font-size: 1.8rem;
    padding-left: 0;
    text-shadow: 2px 2px gray;
}

.custom-head-3 {
    font-size: 1.8rem;
    padding-left: 0;
    text-shadow: 2px 2px white;
}

.custom-text-1 {
    text-shadow: 1px 1px black;
}

.custom-text-2 {
    text-shadow: 1px 1px gray;
}

.custom-text-3 {
    text-shadow: 1px 1px white;
}

.custom-btn {
    background: @turquoise;
}