.container {
    width: 100%;
    .contact-us {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .contact-us-header {

        } 
        
        .contact-btn {

        }
    }
}